* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
.bg-container {
  background-color: #f4faff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.bg-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.bg-info {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 13px;
  text-align: center;
}

.bg-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
